.selected {
  .wrapper {
    border: rem(1px) solid var(--mantine-color-blue-filled);
    background-color: var(--mantine-color-blue-light);
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-blue-9)) !important;
    }
  }
}

.wrapper {
  height: rem(50px);
  padding-top: var(--mantine-spacing-md);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: calc(var(--mantine-spacing-lg) * 1.5) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid var(--mantine-color-gray-3);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7)) !important;
  }
}

.name {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  position: relative;
  z-index: 1;
  font-size: rem(18px);
  font-weight: 800;
  letter-spacing: rem(-0.5px);
  line-height: 0;
  top: rem(14px);
}

.overlay {
  z-index: 0;
  position: absolute;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 900;
  opacity: 0.1;
  font-size: rem(30px);
  line-height: 1;
  top: rem(6px);
}

.checked {
  display: inline-block;
  color: var(--mantine-color-blue-6);
  width: rem(32px);
  height: rem(32px);
}
