.card {
  position: relative;
  overflow: visible;
  padding: var(--mantine-spacing-xs);
  padding-right: var(--mantine-spacing-lg);
  margin-top: 20px;
  width: 100%;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7)) !important;
  }

  .iconWrapper {
    .icon {
      position: absolute;
      top: rem(-15px);
      left: rem(15px);
      color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
      background-color: var(--mantine-color-gray-4);
    }

    &::after {
      position: absolute;
      top: rem(10px);
      left: rem(15px);
      display: inline-block;

      content: '';
      background-color: var(--mantine-color-gray-4);
      width: rem(30px);
      height: rem(2px);
      margin-top: var(--mantine-spacing-sm);
    }
  }

  .checked {
    margin-left: 1.5rem;
    color: var(--mantine-color-violet-filled);
    width: rem(24px);
    height: rem(24px);
  }

  &[data-checked] {
    border-color: var(--mantine-color-violet-filled);
    background-color: var(--mantine-color-violet-light);

    @mixin hover {
      background-color: light-dark(var(--mantine-color-violet-1), var(--mantine-color-violet-9)) !important;
    }

    .iconWrapper {
      .icon {
        color: var(--mantine-color-white);
        background-color: var(--mantine-color-violet-filled) !important;
      }  
      &::after {
        background-color: var(--mantine-color-violet-filled) !important;
      }
    }
  }

  &:not([data-is-physical]) {
    .iconWrapper {
      .icon {
        background-color: var(--mantine-color-dark-0);
      }  
      &::after {
        background-color: var(--mantine-color-dark-0);
      }
    }
  }

  .title {
    line-height: 1;
    padding: calc(var(--mantine-spacing-xs) / 2);
    padding-left: calc(var(--mantine-spacing-xl) + rem(15px));
  }
}
