.nature {
  position: relative;
  display: flex;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));

  .maxLvBadge {
    color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-0));
    background-color: light-dark(var(--mantine-color-dark-1), var(--mantine-color-dark-5));
  }

  .baseNatureBadge {
    color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-0));
    background-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-8));
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7)) !important;
  }
  .icon {
    color: var(--mantine-color-gray-6);
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:not([data-is-special]) {
    .name {
      &::after {
        position: absolute;
        bottom: rem(12px);
        right: rem(10px);
        display: inline-block;
        content: '';
        background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
        width: calc(100% - 66px);
        height: rem(2px);
      }
    }
    &[data-checked] {
      .name {
        &::after {
          background-color: var(--mantine-color-blue-6);
        }
      }
    }
  }

  &[data-checked] {
    border-color: var(--mantine-color-blue-filled);
    background-color: var(--mantine-color-blue-light);

    @mixin hover {
      background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-blue-9)) !important;
    }

    .icon {
      border-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-blue-6);
    }

    .maxLvBadge {
      color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
      background-color: var(--mantine-color-indigo-7);
    }
  
    .baseNatureBadge {
      color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
      background-color: var(--mantine-color-blue-6);
    }
  }
}
