.nature {
  position: relative;
  display: flex;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7)) !important;
  }
  .icon {
    color: var(--mantine-color-gray-6);
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &[data-checked] {
    border-color: var(--mantine-color-blue-filled);
    background-color: var(--mantine-color-blue-light);

    @mixin hover {
      background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-blue-9)) !important;
    }

    .icon {
      border-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-blue-6);
    }

    &.isSpecial {
      border-color: var(--mantine-color-green-filled);
      background-color: var(--mantine-color-green-light);

      .icon {
        border-color: var(--mantine-color-green-filled);
        color: var(--mantine-color-green-6);
      }

      @mixin hover {
        background-color: light-dark(var(--mantine-color-green-1), var(--mantine-color-green-9)) !important;
      }
    }
  }
}
