.referencedAbility {
  position: absolute;
  top: rem(-8px);
  left: rem(10px);

  &[data-positive-value] {
    background-color: light-dark(var(--mantine-color-teal-5), var(--mantine-color-teal-8));
  }

  &[data-negative-value] {
    background-color: light-dark(var(--mantine-color-pink-4), var(--mantine-color-pink-6));
  }
}
